@model WebApplicationMVC.Models.Seller

@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4"> @*Ocupando 1/3 da tela(bootstrap divide tela em 12)*@
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome ompleto</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Data de Nascimento</label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label">Salário Base</label>
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" value="Create" >Cadastrar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
