@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-vind</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Veja mais sobre ASP.NET Core</a>.</p>
</div>
