@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Estou usando o ASP.NET Core com .NET 6.0</a>.</p>
</div>
